<ul class="list-unstyled">
  <% cafeposts.each do |cafepost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(cafepost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to cafepost.user.name, user_path(cafepost.user) %> <span class="text-muted">posted at <%= cafepost.created_at %></span>
        </div>
        <div>
          <p><%= cafepost.content %></p>
          <p><%= image_tag cafepost.image.url if cafepost.image? %></p>
        </div>
        <div>
          <% if current_user == cafepost.user %>
            <%= link_to "Delete", cafepost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate cafeposts %>
</ul>