<h3>カフェ検索</h3>
<%= form_with url: search_cafeposts_path, method: :get, local: true do |f| %>
  <%= f.text_field :name, placeholder: "カフェ名を入力"%>
  <%= f.submit "検索" %>
<% end %>

<p></p>
<p></p>
<h3>検索結果</h3>
<div>
  <% @cafeposts.each do |cafepost| %>
    <p>店名： <%= link_to cafepost.name, cafepost_path(cafepost) %>（<%= cafepost.prefecture %>）</p>
  <% end %>
</div>
