<h1><%= @cafepost.name %>の詳細ページ</h1>

<div>
  <p>店名： <%= @cafepost.name %></p>
  <p>都道府県： <%= @cafepost.prefecture %></p>
  <p>感想： <%= @cafepost.content %></p>
  <p><%= image_tag @cafepost.image.url if @cafepost.image? %></p>
</div>