<section class="cafes">
  <div class="container">
    <h2 class="text-center py-3"><%= @cafepost.name %></h2>
    <div class="index">
      <table class='table table-boarderd'>
        <tr>
          <td>user name</td>
          <td><%= link_to @cafepost.user.name, user_path(@cafepost.user) %></td>
        </tr>
        <tr>
          <td>posted date</td>
          <td><%= @cafepost.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>cafe name</td>
          <td><%= @cafepost.name %></td>
        </tr>
        <tr>
          <td>prefecture</td>
          <td><%= @cafepost.prefecture_i18n %></td>
        </tr>
        <tr>
          <td>address</td>
          <td><%= @cafepost.address %></td>
        </tr>
        <tr>
          <td>comment</td>
          <td><%= @cafepost.content %></td>
        </tr>
        <tr>
          <td>image</td>
          <td><%= image_tag @cafepost.image.url %></td>
        </tr>
        <tr>
          <td>map</td>
          <td>
            <script type="text/javascript">
              function initMap() {
              <!-- #latitude,longitudeから位置を特定 -->
                var test ={lat: <%= @cafepost.latitude %>, lng: <%= @cafepost.longitude %>};
                var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 15, 
                          center: test
                          });
                var transitLayer = new google.maps.TransitLayer();
                transitLayer.setMap(map);
            
                var contentString = '住所：<%= @cafepost.address %>';
                var infowindow = new google.maps.InfoWindow({
                  content: contentString
                });
            
             <!-- #Map上の指定した位置にピンを挿して表示する -->
                var marker = new google.maps.Marker({
                              position:test,
                              map: map,
                              title: contentString
                             });
            
                 marker.addListener('click', function() {
                   infowindow.open(map, marker);
                 });
              }
            </script>
            <script async defer
                      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
            </script>
                  
            <style type="text/css">
              #map { height: 200px;
                     width: 70%;}
            </style>
              
              <!-- #mapの表示 -->
              <div id="map"></div>
          </td>
        </tr>
      </table>
      <% if user_signed_in? %>
        <div class='btn-group'>
          <%= render "favorites/favorite_button", cafepost: @cafepost %>
          <% if current_user == @cafepost.user %>
            <%= link_to 'edit', edit_cafepost_path(@cafepost), class: 'btn btn-outline-dark btn-sm ml-1' %>
            <%= link_to "delete", @cafepost, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: 'btn btn-outline-dark btn-sm ml-1' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
