<div class="text-center">
  <h1>オーナー会員登録</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @owner, url: owner_registration_path, id: 'new_owner', class: 'new_owner', local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :cafename, 'カフェ名' %>
        <%= f.text_field :cafename, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :name, 'オーナー名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード（確認用）' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit 'オーナー会員登録', class: 'btn btn-outline-dark btn-block' %>
    <% end %>
    <p>ユーザの方は<%= link_to 'こちら', new_user_registration_path %></p>
  </div>
</div>
