<section class="top py-5 text-white">
  <div class="container py-5">
    <div class="text-center">
      <h1>Cafe Navi</h1>
      <% unless user_signed_in? || owner_signed_in? %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-outline-dark text-white mt-3' %>
      <% end %>
    </div>
  </div>
</section>
<section class="ranking bg-light py-5">
  <div class="container">
    <h2 class="text-center">Ranking</h2>
    <div class="row text-center">
      <% @all_ranks.each.with_index(1) do |cafepost, i| %>
        <div class="col-md-4 my-3">
          <h5 class="text-center"><%= "No.#{i}" %></h5>
          <img class="mr-2 rounded" src="<%= gravatar_url(cafepost.user, { size: 25 }) %>" alt="">
          <%= link_to cafepost.user.name, user_path(cafepost.user) %> (<span class="text-muted"><%= cafepost.created_at.strftime('%Y/%m/%d') %></span>)
          <div>
            <p><%= link_to cafepost.name, cafepost_path(cafepost) %> (<%= cafepost.prefecture_i18n %>)</p>
            <p><%= image_tag cafepost.image.url if cafepost.image? %></p>
          </div>
          <% if user_signed_in? %>
            <div class='btn-group'>
              <%= render "favorites/favorite_button", cafepost: cafepost %>
              <% if current_user == cafepost.user %>
                <%= link_to 'edit', edit_cafepost_path(cafepost), class: 'btn btn-outline-dark btn-sm ml-1' %>
                <%= link_to "delete", cafepost, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: 'btn btn-outline-dark btn-sm ml-1' %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="recommend py-5">
  <div class="container">
    <h2 class="text-center">Beans</h2>
    <div class="row text-center">
      <% @beanposts.each do |beanpost| %>
        <div class="col-md-4 my-3">
          <p><%= link_to beanpost.name, beanpost_path(beanpost) %><br>(<%= beanpost.owner.cafename %>)</p>
          <div>
            <p>¥<%= beanpost.price %></p>
            <p><%= image_tag beanpost.image.url if beanpost.image? %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>