<div class="container">
  <div class="text-center py-5">
    <h2>owner sign in</h2>
  </div>
  
  <div class="index">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
    
        <%= form_with(model: @owner, url: owner_session_path, id: 'new_owner', class: 'new_owner', local: true) do |f| %>
    
          <div class="form-group">
            <%= f.label :email, 'email' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
    
          <div class="form-group">
            <%= f.label :password, 'password' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          
          <%= f.submit 'sign in', class: 'btn btn-outline-dark btn-block' %>
          
          <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>
              <span>Remember Me</span>
            <% end %>
          </div>
          <% end %>
        <% end %>
    
        <p>><%= link_to 'user sign in', new_user_session_path %></p>
      </div>
    </div>
  </div>
</div>