<div class="text-center">
  <h1>オーナーログイン</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @owner, url: owner_session_path, id: 'new_owner', class: 'new_owner', local: true) do |f| %>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <%= f.submit 'ログイン', class: 'btn btn-outline-dark btn-block' %>
      
      <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <span>ログインしたままにする</span>
        <% end %>
      </div>
      <% end %>
    <% end %>

    <p>ユーザーのログインは<%= link_to 'こちら', new_user_session_path %></p>
  </div>
</div>