<div class="container">
  <h3 class="text-center py-3"><%= @beanpost.name %></h3>
  
  <div class="index">
    <%= form_with(model: @beanpost, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name, "name" %>
        <%= f.text_field :name, class: 'form-control', rows: 1 %>
      </div>
      <div class="form-group">
        <%= f.label :amount, "amount(g)" %>
        <%= f.text_field :amount, class: 'form-control', rows: 1 %>
      </div>
      <div class="form-group">
        <%= f.label :price, "price(yen)" %>
        <%= f.text_field :price, class: 'form-control', rows: 1 %>
      </div>
      <div class="form-group">
        <%= f.label :country, "country" %>
        <%= f.text_area :country, class: 'form-control', rows: 1 %>
      </div>
      <div class="form-group">
        <%= f.label :image, "image" %>
        <%= f.file_field :image %>
        <%= f.check_box :remove_image %>delete
        <%= image_tag @beanpost.image.url %>
      </div>
      <%= f.submit 'update', class: 'btn btn-outline-dark btn-block' %>
    <% end %>
  </div>
</div>