<div class="container py-3">
  <h2 class="text-center py-5">beans</h2>
  <div class="index">
    <%= form_with(model: @beanpost, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name, "name" %>
        <%= f.text_field :name, class: 'form-control', rows: 1 %>
      </div>
      <div class="form-group">
        <%= f.label :amount, "amount(g)" %>
        <%= f.text_field :amount, class: 'form-control', rows: 1 %>
      </div>
      <div class="form-group">
        <%= f.label :price, "peice(¥)" %>
        <%= f.text_field :price, class: 'form-control', rows: 1 %>
      </div>
      <div class="form-group">
        <%= f.label :country, "country" %>
        <%= f.text_field :country, class: 'form-control', rows: 1 %>
      </div>
      <div class="form-group">
        <%= f.label :image, "image" %>
        <%= f.file_field :image %>
      </div>
      <div class="form-group">
      <%= f.submit 'post', class: 'btn btn-outline-dark btn-block' %>
      </div>
    <% end %>
  </div>
</div>