<div class="container">
  <h3 class="text-center py-3">beans search</h3>
  <div class="index">
    <%= form_with url: search_beanposts_path, method: :get, local: true do |f| %>
      <%= f.text_field :search, placeholder: "beans name"%>
      <%= f.submit "search" %>
    <% end %>
    <div class="mt-5">
      <h3>result</h3>
      <table class="table">
        <thead>
          <tr>
            <th>bean</th>
            <th>price</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <% @beanposts.each do |beanpost| %>
            <tr>
              <td><%= link_to beanpost.name, beanpost_path(beanpost) %></td>
              <td>(¥)<%= beanpost.price %></td>
              <td><%= link_to beanpost.owner.cafename, owner_path(beanpost.owner) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @beanposts %>
    <p>><%= link_to 'cafes search', search_cafeposts_path %></p>
  </div>
</div>