<section class="beans">
  <div class="container">
    <h3 class="text-center py-5"><%= @beanpost.name %></h3>
    <div class="index">
      <table class='table table-boarderd'>
        <tr>
          <td>bean</td>
          <td><%= @beanpost.name %></td>
        </tr>
        <tr>
          <td>amount(g)</td>
          <td><%= @beanpost.amount %></td>
        </tr>
        <tr>
          <td>price(¥)</td>
          <td><%= @beanpost.price %></td>
        </tr>
        <tr>
          <td>country</td>
          <td><%= @beanpost.country %></td>
        </tr>
        <tr>
          <td>image</td>
          <td><%= image_tag @beanpost.image.url %></td>
        </tr>
        <tr>
          <td>cafe name</td>
          <td><%= link_to @beanpost.owner.cafename, owner_path(@beanpost.owner) %></td>
        </tr>
      </table>
      <% if owner_signed_in? %>
        <div class='btn-group'>
          <% if current_owner == @beanpost.owner %>
            <%= link_to 'edit', edit_beanpost_path(@beanpost), class: 'btn btn btn-outline-dark btn-sm ml-1' %>
            <%= link_to "delete", @beanpost, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: 'btn btn btn-outline-dark btn-sm ml-1' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>