<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Cafe Navi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'post', new_cafepost_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'search', search_cafeposts_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'cafes', cafeposts_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'beans', beanposts_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'users', users_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'owners', owners_path, class: 'nav-link' %></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item"><%= link_to 'profile', user_path(current_user) %></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><%= link_to 'favorites', likes_user_path(current_user) %></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><%= link_to 'sign out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% elsif owner_signed_in? %>
            <li class="nav-item"><%= link_to 'post', new_beanpost_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'search', search_cafeposts_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'cafes', cafeposts_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'beans', beanposts_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'users', users_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'owners', owners_path, class: 'nav-link' %></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_owner.name %></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item"><%= link_to 'profile', owner_path(current_owner) %></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><%= link_to 'sign out', destroy_owner_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to 'sign up', new_user_registration_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'sign in', new_user_session_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>